<footer>
  <div class="dinkus">❦</div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--primary-spacing);
    margin-bottom: calc(3 * var(--primary-spacing));
  }
  .dinkus {
    font-size: 28px;
  }
</style>
