.link {
  text-decoration: none;
  color: var(--green-warmer);
  background-color: var(--bg-dim);

  transition:
    color 0.05s ease-in-out,
    background-color 0.05s ease-in-out;

  padding-inline: 2px;
  margin-inline: -2px;
  border-radius: 2px;
  box-decoration-break: clone;

  @supports (-moz-appearance: none) {
    /* In Firefox, flex-basis doesn't work well with negative margin and
       made .block-categories sections slightly narrower, causing an
       overflow where it should have comfortably filled a single
       line. This is a small hack to cancel that negative margin when
       link is the last child, so Firefox takes into account these 2px
       that we need.
     */
    &:last-child {
      margin-inline-end: 0;
    }
  }
}
.link:hover {
  background-color: var(--green-subtle-bg);
  color: var(--fg-alt);
}

.link:global(.ghost) {
  color: inherit;
  background-color: inherit;
}
.link:global(.ghost):hover {
  background-color: var(--green-subtle-bg);
  color: var(--fg-alt);
  background-color: var(--bg-dim);
  color: inherit;
}

/* heading autolinks */
h1 > .link,
h2 > .link,
h3 > .link,
h4 > .link,
h5 > .link,
h6 > .link {
  color: inherit;
  background-color: inherit;
}
h1 > .link:hover,
h2 > .link:hover,
h3 > .link:hover,
h4 > .link:hover,
h5 > .link:hover,
h6 > .link:hover {
  background-color: var(--bg-dim);
  color: inherit;
}

.link:global(.broken) {
  text-decoration: none;
  color: var(--red-alt);
}
.link:global(.broken):hover {
  background-color: var(--red-subtle-bg);
  color: var(--fg-alt);
}
.link:global(.external) {
  color: var(--blue-warmer);
}
.link:global(.external):hover {
  background-color: var(--blue-subtle-bg);
  color: var(--fg-alt);
}
