.link {
  text-decoration: none;
  color: var(--green-alt);
  background-color: var(--bg-alt);

  transition: color 0.05s ease-in-out, background-color 0.05s ease-in-out;

  padding: 0px 2px;
  margin: 0px -2px;
  border-radius: 2px;
  box-decoration-break: clone;
}
.link:hover {
  background-color: var(--green-subtle-bg);
  color: var(--fg-dim);
}

.link:global(.ghost) {
  color: inherit;
  background-color: inherit;
}
.link:global(.ghost):hover {
  background-color: var(--green-subtle-bg);
  color: var(--fg-dim);
  background-color: var(--bg-alt);
  color: inherit;
}

/* heading autolinks */
h1 > .link,
h2 > .link,
h3 > .link,
h4 > .link,
h5 > .link,
h6 > .link {
  color: inherit;
  background-color: inherit;
}
h1 > .link:hover,
h2 > .link:hover,
h3 > .link:hover,
h4 > .link:hover,
h5 > .link:hover,
h6 > .link:hover {
  background-color: var(--bg-alt);
  color: inherit;
}

.link:global(.broken) {
  text-decoration: none;
  color: var(--red-alt);
}
.link:global(.broken):hover {
  background-color: var(--red-subtle-bg);
  color: var(--fg-dim);
}
.link:global(.external) {
  color: var(--blue-alt);
}
.link:global(.external):hover {
  background-color: var(--blue-subtle-bg);
  color: var(--fg-dim);
}
