.note > div {
    display: flex;
    flex-direction: column;
}
.note code {
    line-height: 1.1;
}

.note blockquote {
    font-style: italic;
    background-color: #f0f0f0;
    margin: 16px 0 16px 16px;
    padding: 4px;

    & > p:last-child {
        margin-bottom: 0;
    }
}

.note table {
    display: block;
    border-collapse: collapse;
    font-size: 0.9em;
    overflow-x: auto;
}
.note > div > table {
    // allow top-level tables to grow
    max-width: calc(100vw - 32px);
    align-self: center;
}

.note th,
.note td {
    padding: 12px 15px;
}
.note thead, .note tbody {
    border-bottom: 2px solid #888888;
}
.note tbody {
    border-top: 2px solid #888888;
}
.note thead tr {
    background-color: #e5e5e5;
    text-align: left;
    font-weight: 700;
}
.note tbody tr {
    border-bottom: 1px solid #888888;
    vertical-align: baseline;
}
