.note_wrapper {
    padding: 0 16px 40px;
}
.note {
    font-size: 16px;
    line-height: 1.5;

    max-width: 600px;
    margin: 0 auto;
}
.note code {
    line-height: 1.1;
}

.note h1 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}
.note h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 8px;
}
.note h3 {
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
}
.note p, .note ul, .note ol {
    margin-bottom: 16px
}
.note li > p, .note li > ul, .note li > ol {
    margin-bottom: 4px;

    & + ul, & + ol {
        margin-top: 0px;
    }
}
.note p + ul, .note p + ul {
    margin-top: -12px;
}

.note blockquote {
    font-style: italic;
    background-color: #f0f0f0;
    margin: 16px 0 16px 40px;
    padding: 4px;

    & > p:last-child {
        margin-bottom: 0;
    }
}

.note a {
    text-decoration: none;
    color: #315b00;
    background-color: #f0f0f0;
}
.note a:hover {
    background-color: #aecf90;
    color: #282828;
}

.link_external {}
.note a.link_external {
    color: #2544bb;

}
.note a.link_external:hover {
    background-color: #b5d0ff;
    color: #282828;
}
.note a.link_external::after {
    content: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%232544bb" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path></svg>');
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: super;
    margin-left: 2px;
    color: #2544bb;
}
