textarea {
  width: 100%;
  display: block;
  background: #fff;
  border: thin solid #888888;
  border-radius: 2px;
  font-family: 'Source Code Pro', monospace;
  white-space: pre;
  overflow: auto;
  min-height: 30vh;
}
.result {
  padding: 4px;
  background: #fff;
  border: thin solid #888888;
  border-radius: 2px;
  overflow: auto;
  height: 45vh;
}
.result.pre {
  font-family: 'Source Code Pro', monospace;
  white-space: pre;
}
.buttons {
  display: flex;
  width: 100%;
  justify-content: stretch;
}
button {
  flex-grow: 1;
}
