pre.src-block {
    background-color: #f0f0f0;
}

.token.comment {
    color: #505050;
}
.token.keyword {
    font-weight: 700;
    color: #5317ac;
}
.token.string {
    color: #2544bb;
}
.token.function, .token.variable {
    color: #721045;
    font-weight: 500;
}
.token.car {
    color: #00538b;
}
.token.builtin {
    color: #00538b;
    font-weight: 500;
}
.token.punctuation {
    color: #56576d;
}
