pre {
    background-color: #f0f0f0;
    overflow: auto;
}

.hljs-comment {
    color: #505050;
}
.hljs-keyword {
    font-weight: 700;
    color: #5317ac;
}
.hljs-string {
    color: #2544bb;
}
.hljs-title {
    color: #721045;
    font-weight: 500;
}
.hljs-name {
    color: #00538b;
}
.hljs-builtin-name {
    font-weight: 700;
}
