html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

code {
  font-family: 'Source Code Pro', monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul, ol {
  padding-left: 32px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
    color: #315b00;
    background-color: #f0f0f0;
}
a:hover {
    background-color: #aecf90;
    color: #282828;
}
