html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

code {
  font-family: 'Source Code Pro', monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul, ol {
  padding-left: 24px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}

img {
  max-width: 100%;
  height: auto;
}

code.inline-code {
  background-color: #f0f0f0;
  color: #721045;
}
code.inline-verbatim {
  background-color: #f0f0f0;
  color: #61284f;
}

.todo-keyword {
  font-family: 'Source Code Pro', monospace;
}
.todo-keyword.TODO {
  color: #1111ee;
}
.todo-keyword.DONE {
  color: #505050;
}
.priority {
  color: #721045;
}
.tags {
  color: #541f4f;
}
.timestamp {
  color: #30517f;
  white-space: nowrap;
}

p.verse {
  font-style: italic;
  background-color: #f0f0f0;
  margin: 16px 0 16px 40px;
  padding: 4px;

  white-space: pre-line;
}
div.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
